        <div class="col-xs-3">
          <h2>User info</h2>
            <%= attachment_image_tag user, :profile_image, size:"100x100", format: "jpeg" ,class: "img-circle profile-img", fallback: "no_image.jpg" %>
            <table class="table">
              <tbody>
                <tr>
                  <th>name</th>
                  <th><%= user.name %></th>
                </tr>
                <tr>
                  <th>introduction</th>
                  <th><%= user.introduction %></th>
                </tr>
                <tr>
                  <th>following</th>
                  <th><%= link_to following_path(user) do %>
                    <%= user.followings.count %>
                    <% end %>
                </tr>
                <tr>
                  <th>followers</th>
                  <th><%= link_to follower_path(user) do %>
                    <%= user.followers.count %>
                    <% end %>
                  </th>
                </tr>
                <td>
                  <% unless user == current_user %>
                  <%= render "relationships/follow_button", user: @user1 %>
                  <% end %>
                </td>
              </tbody>
            </table>
            <div class="row">
              <% if user == current_user %>
              <%= link_to '', edit_user_path(user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_20525" %>
              <% else %>
              <%= link_to '', user_path(user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_20525" %>
              <% end %>
            </div>

            <h2>New book</h2>
              <%= form_for(book) do |f| %>
              <div class="field row">
                <%= f.label :title, "Title" %>
                <%= f.text_field :title, class: "col-xs-12 book_title" %>
              </div>
              <div class="field row">
                <%= f.label :body, "opinion" %>
                <%= f.text_area :body, class: "col-xs-12 book_body" %>
              </div>
              <div class="action row">
                <%= f.submit "Create Book", class: "btn btn-primary col-xs-12" %>
              </div>

              <% end %>

        </div>
